.field {
  border: none;
  outline: none;
  padding: 0 15px;
  height: 30px;
  font-size: 0.90em;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #333333;
  width: 100%;
  margin-bottom: 15px;
  &:hover, &:focus {
    border-color: #27AE60;
  }
}

.input {
  position: relative;
}

.label {
  display: inline-block;
  color: #828282;
  font-size: 0.75em;
  margin-bottom: 5px;
}

.required {
  color: #FA3737;
}