.btn {
  display: inline-block;
  font: inherit;
  background: #27AE60;
  border-radius: 5px;
  font-size: 1.1em;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  width: 100%;
  height: 50px;
}