

.wrap {
  margin-top: 30px;
}

.hours {
  display: flex;
  font-size: 0.75em;
  justify-content: space-between;
  margin-top: 25px;
}

.group {
  display: flex;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f2f2f2;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #27ae60;
  height: 24px;
  width: 15px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
  position: relative;
  top: -12px;
  -webkit-appearance: none;
  // margin-top: -0.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f2f2f2;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #27ae60;
  height: 24px;
  width: 15px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #e5e5e5;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #f2f2f2;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #27ae60;
  height: 24px;
  width: 15px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
  height: 1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #f2f2f2;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
}

