.link {
  color: #27AE60;
  text-decoration: none;
}

.field {
  .subheading{
    margin-top: 25px;
  }
}

.subheading {
  color: #333333;
  font-size: 1em;
}

.note {
  font-size: 0.90em;
  color: #828282;
}

.header {
  position: relative;
}

.heading {
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: 20px;
}

.close {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  cursor: pointer;
  outline: none;
  
}