.checkbox {
  padding-left: 33px;
  position: relative;
  display: inline-block;
  user-select: none;
  color: #333333;
  margin-bottom: 25px;
  font-size: 0.90em;  
}

.invisible {
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  &:checked + .square {
    &::before {
      display: block;
    }
    border-color: #27AE60;
  }
}

.square {
  display: flex;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 2px solid #828282;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: -2px;
  &::before {
    content: url('./Vector.svg');
    display: none;
    margin: auto;
  }
}

.text {
  display: block;
  position: relative;
}