.box {
  max-width: 520px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  @media (min-width: 521px) {
    border-radius: 5px;
  }
}