body {
  font-family: 'Roboto';
  background-color: #BDBDBD;
  font-size: 100%;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}